body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: black;
  overflow: hidden;
  opacity: 1;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
}

.sphereBackground {
  background-color: #222831;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100vh;
}

.animation-wrapper {
  width: 25%;
  padding-bottom: 50%;
}

.sphere-animation {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 580px;
  height: 580px;
  margin: -290px 0 0 -290px;
}

.sphere path {
  fill: url(#sphereGradient);
  stroke-width: 1px;
  stroke: rgba(80, 80, 80, .35);
  backface-visibility: hidden;
}

@media (min-width: 500px) {
  .sphere path {
    stroke-width: .4px;
  }
}

.large-header {
  position: relative;
  width: 100%;
  background: #111;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  z-index: 1;
}

.demo .large-header {
  background-color: #000000;
}

.main-title {
  font-family: 'Advent Pro', sans-serif;
  position: absolute;
  margin: 0;
  padding: 0;
  color: #00ADB5;
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}

.demo .main-title {
  text-transform: uppercase;
  font-size: 4.2em;
  letter-spacing: 0.1em;
}

@media only screen and (max-width: 768px) {
  .demo .main-title {
    font-size: 3em;
  }
}

#loader-wrapper {
  background-color: black;
  min-height: 100vh;
  width: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.loaded {
  visibility: hidden;
}

.container-animation {
  position: relative;
  animation: rotate 2s linear infinite;
}
.part {
  position: absolute;
  height: 50px;
  width: 50px;
  box-sizing: border-box;
}
.one {
  top: -50px;
  left: -50px;
  border-radius: 100% 0 0 0;
  animation: animato1 1s linear 1s alternate infinite;
  border-top: 10px solid #00ADB5;
  border-left: 10px solid #00ADB5;
}
.two {
  top: -50px;
  border-radius: 0 100% 0 0;
  animation: animato2 1s linear alternate infinite;
  border-top: 10px solid #00ADB5;
  border-right: 10px solid #00ADB5;
}
.three {
  left: -50px;
  border-radius: 0 0 0 100%;
  animation: animato3 1s linear alternate infinite;
  border-bottom: 10px solid #00ADB5;
  border-left: 10px solid #00ADB5;
}
.four {
  top: 0px;
  left: 0px;
  border-radius: 0 0 100% 0;
  animation: animato4 1s linear 1s alternate infinite;
  border-bottom: 10px solid #00ADB5;
  border-right: 10px solid #00ADB5;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
@keyframes animato1 {
  to {
    width: 20px; height: 20px; top: -20px; left: -20px;
  }
}
@keyframes animato2 {
  to {
    width: 20px; height: 20px; top: -20px;
  }
}
@keyframes animato3 {
  to {
    width: 20px; height: 20px; left: -20px;
  }
}
@keyframes animato4 {
  to {
    width: 20px; height: 20px;
  }
}
